/* navigation media query */
@media screen and (max-width: 550px) {
    nav .nav-items {
        padding: 20px 15px 20px 15px;
    }

    .nav-items button {
        display: none;
    }

    .nav-items .nav-icon {
        display: block;
        margin-top: 7px;
        color: gray;
    }
}


/* jumbotron media query */
@media screen and (max-width: 550px) {
    .jumbotron h1 {
        font-size: 30px;
    }

    .jumbotron img {
        margin-top: 30px;
        height: 200px;
    }
}


/* about me media query */
@media screen and (max-width: 550px) {
    .about-me {
        padding-top: 15%;
        padding-bottom: 10%;
    }

    .about-me h1 {
        font-size: 28px;
    }

    .about-me p {
        width: 100%;
        font-size: 22px;
    }
}


/* Skills media query */
@media screen and (max-width: 550px) {
    .skills {
        flex-direction: column;
        bottom: 20vh;
    }

    .card {
        padding: 20px;
        padding-top: 45px;
    }

    .card.first-card {
        border-right: 1px solid lightgray;
        border-bottom: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card.last-card {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}


/* My recent work query */
@media screen and (max-width: 550px) {
    .recent-works {
        margin-top: -15vh;
        margin-bottom: 40px;
    }
}


/* Start project / contact query  */
@media screen and (max-width: 550px) {
    .start-project {
        top: 24vh;
        padding: 50px;
        flex-direction: column;
        gap: 40px;
    }
}