/* navigation media query */
@media screen and (max-width: 550px) {
    nav .nav-items {
        padding: 20px 15px 20px 15px;
    }

    .nav-items h2 {
        font-size: 20px;
    }

    .nav-items button {
        display: none;
    }

    .nav-items .nav-icon {
        display: block;
        margin-top: 7px;
        color: gray;
    }
}

@media screen and (min-width: 550px) {
    .open-nav-icon {
        visibility: hidden;
    }
    .mobile-navigation {
        visibility: hidden;
    }
}


/* jumbotron media query */
@media screen and (max-width: 550px) {
    .jumbotron {
        margin-top: 20px;
    }

    .jumbotron h1 {
        font-size: 25px;
    }

    .jumbotron h2 {
        margin-top: 15px;
        font-size: 17px;
        width: 90%;
    }

    .jumbotron img {
        margin-top: 80px;
        height: 170px;
    }
}


/* about me media query */
@media screen and (max-width: 550px) {
    .about-me {
        padding-top: 20%;
        padding-bottom: 25%;
    }

    .about-me h1 {
        font-size: 23px;
    }

    .about-me p {
        width: 100%;
        font-size: 18px;
    }
}


/* Skills media query */
@media screen and (max-width: 550px) {
    .skills {
        flex-direction: column;
    }

    .card {
        padding: 20px;
        padding-top: 45px;
    }

    .card .card-title {
        font-size: 23px;
    }

    .card .card-intro {
        font-size: 17px;
        line-height: 23px;
    }

    /* .card.first-card {
        border-right: 1px solid lightgray;
        border-bottom: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card.last-card {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    } */
}


/* My recent work query */
@media screen and (max-width: 550px) {
   .recent-works {
        margin-top: -25vh;
        margin-bottom: 40px;
    }

    .recent-works h1 {
        font-size: 25px;
    }

    .recent-works h3 {
        font-size: 17px;
    }

    .recent-works .work {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 70px;
    }
  /*
    .work-card h2 {
        font-size: 20px;
    } */
}


/* Start project / contact query  */
@media screen and (max-width: 550px) {
    .start-project {
        top: 24vh;
        padding: 50px;
        flex-direction: column;
        gap: 40px;
    }

    .start-project h1 {
        font-size: 23px;
    }

    .start-project p {
        font-size: 17px;
        line-height: 23px;
    }

    footer h2 {
        font-size: 20px;
    }
}



